<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Natalie Isenberg</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle""><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top">Natalie's Portfolio</a>
            </li>
            <li>
                <a href="#top">Home</a>
            </li>
            <li>
                <a href="#about">About</a>
            </li>
            <li>
                <a href="#research">Research</a>
            </li>
            <li>
                  <a href="#teach">Teaching</a>
            </li>
             <li>
                <a href="#portfolio">Art Portfolio</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1 style = "color:white"><font face = "Arial">Natalie Malka Isenberg</font></h1>
            <h3 style = "color:white">Portfolio &amp; About</h3>
            <br>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="my-info col-lg-4 text-right">
                    <img src = "img/self.jpg" height = "200" width = "176"></img>
                    <h4>Natalie Malka Isenberg</h4>
                    <p>Carnegie Mellon University</p>
                    <p>Department of Chemical Engineering</p>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a>(410)-299-9125</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope-o fa-fw"></i>
                            <a href="mailto:isenberg.natalie@gmail.com">isenberg.natalie@gmail.com</a>
                        </li>
                        <li>
                            <i class="fa fa-paperclip fa-fw"></i>
                            <a href="natalie_isenberg.pdf">CV</a>
                        </li>
                        <li>
                            <i class="fa fa-book fa-fw"></i>
                            <a href="https://scholar.google.com/citations?user=RQBNYYEAAAAJ&hl=en">Google Scholar</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-8 text-left">
                    <h2 style="color:#B4DE9F">Welcome</h2>
                    <br>
                    <p class="lead">I am currently the Amalie Emmy Noether Postdoctoral fellow in the Applied Mathematics group at Brookhaven National Laboratory. My research interests include <font color="#42663D"><b>numerical optimization</b></font> methods and applications, including <font color="#42663D"><b>optimization under uncertainty</b></font> and <font color="#42663D"><b>black-box optimization</b></font> algorithms.</p>
                          <p class = "lead">I completed my thesis work in September 2021 in the department of Chemical Engineering at <font color="#42663D"><b>Carnegie Mellon University</b></font>, advised by Professor Chrysanthos Gounaris. Topics considered in my thesis include both combinatorial and continuous, nonlinear optimization modeling and algorithm design. We considered <font color="#42663D"><b>mixed-integer programming</b></font> models of materials design problems to identify optimal carbon-dioxide adsorbants. We also developed <font color="#42663D"><b>robust optimization</b></font> approaches and algorithms for solving complex, nonlinear and non-convex process systems design problems. For more details, see the <a href="https://www.proquest.com/docview/2592157479?pq-origsite=gscholar&fromopenview=true"><b>thesis document</b></a>.</p>
                                           
                   <p class = "lead"> I am also very committed to <font color="#42663D"><b>STEM outreach and teaching</b></font>. For more information regarding my teaching work, see my CV and see some highlights below.</p>
                    <p class = "lead"> My interests don't stop there! I am an artist, and have a partial portfolio of my paintings available to view here on my site. I also enjoy cooking, bike-riding (specifically gravel riding) and running ultra-marathons.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!--Research -->
    <section id="research" class="research">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h1 style = "color:#B4DE9F">Research</h1>
                    <br>
                    <h3 style="color::#42663D"><b>Selected Thesis Research</b></h3>
                    <h4 style="color::#42663D">Geometric Optimization of Close-Packed Nanoparticles</h4>
                    <h4>(2017-2021)</h4>
                    <div class="col-lg-6 text-left">
                        <p class = "lead" > In this project, we focused on the area of optimal materials design. Here, we apply rigorous mathematical modeling to materials, and specifically to nano-clusters, using mixed-integer linear programming models and algorithms. <br> <br> See published work in our group related to this topic in the link below. 
                                         <br></p><h5><a href = "https://pubs.rsc.org/en/content/articlehtml/2019/me/c9me00108e"><i><b>Natalie M. Isenberg, Michael G. Taylor, Zihao Yan, Christopher L. Hanselman, Giannis Mpourmpakis, Chrysanthos E. Gounaris. Identification of Optimally Stable Nanocluster Geometries via Mathematical Optimization and Density-Functional Theory. Molecular Systems Design & Engineering, 2019.</b></i></a></h5>
                                         <br></p><h5><a href = "https://xiangyu-yin.com/publication/bnp/bnp.pdf"><i><b>Xiangyu Yin, Natalie M. Isenberg, Christopher L. Hanselman, James R. Dean, Giannis Mpourmpakis, and Chrysanthos E. Gounaris. Designing stable bimetallic nanoclusters via an iterative two-step optimization approach. Molecular Systems Design & Engineering, 2021.</b></i></a></h5>
                    
                   
                                                                                                   
                    </div>
                    <div class="col-lg-6 text-left">
                        <img class = "img-responsive" src="img/np.gif" height = "350" width = "350"></img>
                        <br>
                        <br>
                    </div>
                    </div>
                    </div>
                    
                    <div class ="row">
                    <div class="col-lg-10 col-lg-offset-1 text-center">                                
                    <h4 style="color::#42663D">Nonlinear Robust Optimization</h4>
                    <h4>(2019-2021)</h4>
                    <div class="col-lg-6 text-left">
                        <p class = "lead" > We devised a generalized cutting-plane algorithm for solving non-convex robust optimization problems. We applied this method on several example process systems engineering models, including an equation-oriented flowsheet model for a carbon-capture plant. <br> <br> See published work related to this topic in the link below. 
                                         <br></p><h5><a href = "https://pubs.rsc.org/en/content/articlehtml/2019/me/c9me00108e"><i><b>Natalie M. Isenberg, Paul Akula, John C. Eslick, Debangsu Bhattacharyya, David C. Miller, and Chrysanthos E. Gounaris. A Generalized Cutting‐set Approach for Nonlinear Robust Optimization in Process Systems Engineering. AIChE Journal, 2021.</b></i></a></h5>
                   </div>
                    <div class="col-lg-6 text-left">
                        <img class = "img-responsive" src="img/nlro.jpg" height = "350" width = "350"></img>
                        <br>
                        <br>
                    </div>
                    </div>
                    </div>
                    
                                                                                                   
                    <div class ="row">
                    <div class="col-lg-10 col-lg-offset-1 text-center">     
                    <h4 style="color::#42663D">PyROS: An Open-Source Robust Optimization Solver in Python</h4>
                    <h4>(2020-2021)</h4>
                    <div class="col-lg-6 text-left">
                        <p class = "lead" > I spent some time with the Pyomo team at Sandia National Laboratory in the Discrete Mathematics and Optimization group working on an open-source implementation of our published generalized robust cutting-set algorithm. You can use our novel method now through the PyROS solver available in Pyomo. <br> <br> You can find PyROS in the link below. 
                                         <br></p><h5><a href = "https://github.com/Pyomo/pyomo/tree/main/pyomo/contrib/pyros"><i><b>Natalie M. Isenberg, John D. Siirola, and Chrysanthos E. Gounaris. PyROS: An Open-Source Robust Optimization Solver in Python.</b></i></a></h5>  
                                                                                                                             <br></p><h5><a href = "https://pyomo.readthedocs.io/en/stable/contributed_packages/pyros.html"><i><b>PyROS Documentation.</b></i></a></h5>

                    </div>
                     <div class="col-lg-6 text-left">
                     <br>
                     <br>
                    <img class = "img-responsive" src="img/pyros.jpg" width="509" height="399"></img>
                    </div>
                </div>
            </div>                                                                               
                                                                                                   
                                                                                                   
                                                                                                   
                                                                                                   
                                                                                                   
                    <div class ="row">
                    <div class="col-lg-10 col-lg-offset-1 text-center">
                    <br>
                    <hr width = "1000" align = "center">
                    <br>
                    <h3 style="color::#42663D"><b>Undergraduate Research</b></h3>                                  
                    <h4 style="color::#42663D"><b>Chemical Looping Combustion Oxygen Carrier Study</b></h4>
                    <h4>(2014-2016)</h4>
                    <div class="col-lg-6 text-left">
                        <p class = "lead" > As an undergraduate I worked with Professor Goetz Veser at the University of Pittsburgh on the design and development of supported metallic nanoparticles as oxygen
                        carriers in chemical looping combustion (CLC). CLC is a technology with integrated carbon-capture technology. By utilizing two spacially separated reactors, air and fuel never come into direct contact. Instead, a solid oxygen carrier is used to shuttle oxygen between the air and fuel reactors. This means that the components of air never mix with the effluent combustion gas. Thus, the combustion effluent is simply water and carbon dioxide.

                        Oxygen carriers for CLC typically consist of an inert ceramic support (such as alumina or zirconia) with embedded metallic nanoparticles. Previous work in our lab had shown that a reducible ceramic, such as cerium dioxide, can improve the oxygen release in reduction during CLC. </p>
                    </div>
                     <div class="col-lg-6 text-left">
                     <br>
                     <br>
                    <img class = "img-responsive" src="img/clc.jpg" width="509" height="399"></img>
                    </div>
                </div>
            </div>
            <div class ="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <br>
                    <div class="col-lg-6 text-left">
                        <p class = "lead">
                        Oxygen carriers for CLC typically consist of an inert ceramic support (such as alumina or zirconia) with embedded metallic nanoparticles. Previous work in our lab had shown that a reducible ceramic, such as cerium dioxide, can improve the oxygen release in reduction during CLC. This project focused on improving the reducibility of the ceria support by introducing defect sites with a lanthanum dopant. We tested an array of lanthanum fractions in the support and found that a fraction around 10% has the optimal oxygen release property in reduction. Too much dopant was detrimental, and too little had a lesser effect.</p>
                        <br>
                        <p class = "lead">More details can be found in our publication. <br> </p> <h5><a href = "http://www.sciencedirect.com/science/article/pii/S0306261916300605"><i><b>Saurabh Bhavsar, Natalie Isenberg, Amey More, and Goetz Veser. Lanthana-doped ceria
                        as active support for oxygen carriers in chemical looping combustion. Applied Energy, 2016.</b></i></a></h5>
                    </div>
                     <div class="col-lg-6 text-left">
                     <br>
                     <br>
                        <img class = "img-responsive" src="img/la-dopant.jpg" height ="354" width="484"></img>
                    </div>
                </div>
            </div>
        </div>
    </section>

     <!-- Teaching -->
    <section id="teach" class="teaching-portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                <h1 style = "color:#B4DE9F">Teaching</h1>
                <br>
                <h4 style="color::#42663D"><b>Propel EAST Coding Club</b></h4>
                    <h4>(2015-2016)</h4>
                    <p class = "lead"> For two consecutive years, my colleague <a href = "http://connorbrem.com"><b>Connor Brem</b></a> and I developed and taught "Coding Club" at the <a href = "http://www.propelschools.org/propel-east/"><b>Propel EAST School</b></a> in Pittsburgh. This was an after school program for an hour each week in which middle school students got to learn introductory programming in a hands-on way. Below is an example of a project we completed with our Coding Club. This was a playable version of the game "Pong," completed using the Python version of the software sketchboard <a href = "https://processing.org/"><b>Processing.</b></a></p>
                </div>
                <div class="gif-align col-lg-6 text-center">
                    <img class = "img-responsive" src = "img/demo.gif" height = "500" width = "500"></img>
                    <br>
                    <h4 style = "color:#42663D"> <b> Object interaction demo</b> </h4>
                     <p class = "lead"> This interactive learning tool was designed to help students understand the "physics" of the Pong game. The distances and velocities are all marked. This helps visualize how variables interact and change during the game.  </p>
                     <br>
                </div>
                 <div class="col-lg-6 text-center">
                    <img class = "img-responsive" src = "img/pong.gif" height = "500" width = "500"></img>
                    <br>
                    <h4 style = "color:#42663D"> <b>"Pong" Game </b></h4>
                    <p class = "lead"> Over the course of Coding Club, students used all of their learning objectives (variable assignment, loops, etc.) to piece together this playable game of Pong. Congradulations to our Coding Club members!</p>
                </div>
                <!-- /.col-lg-10 -->
                 <div class="col-lg-10 col-lg-offset-1 text-center">
                 <br>
                 <hr width = "1000" align = "center">
                <br>
                  <h4 style="color::#42663D"><b>Environmental Charter School TED Talk</b></h4>
                    <h4>(2015)</h4>
                    <p class = "lead"> I was invited in 2015 to speak alongside Pittsburgh entrepreneurs at the Environmental Charter School (ECS) to 8th grade students. This was a part of a TED talk to showcase community members working on environmental and societal problems. My talk was about carbon-capture technology and the research I was doing at the University of Pittsburgh with Professor Goetz Veser. The talk focused on some basic concepts: 
                    <ul class = "list-unstyled">
                    <li> <h4> How do we acquire the energy that powers our lives? </h4></li>
                    <li> <h4> What is the chemistry behind this process of energy generation? </h4></li>
                    <li> <h4> Why is this harmful for the environment? </h4></li> 
                    <li> <h4> And what can we do to mitigate these effects?</h4></li>
                    </ul>
                    </p>
                    <img class = "img-responsive" src = "img/ppt.gif" height ="360" width="640"></img>
                 </div>
             </div>
            <!-- /.row -->
        </div>
         <!-- /.container -->
    </section>

      <!-- Portfolio -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center portfolio-images">
                    <h1 style = "color:#B4DE9F">Portfolio</h1>
                    <br>
                </div>
                <!-- /.col-lg-10 -->
             </div>
            <!-- /.row -->
        </div>
         <!-- /.container -->
    </section>


    <!-- Templates -->
    <script type="text/template" class="template-item">
        <div class="col-md-3">
            <div class="portfolio-item">
                <a href="javascript:;">
                    <img class="img-responsive img-portfolio" src="img/<%= url %>" data-toggle="modal" href="#modal-id-<%= id %>">
                </a>
            </div>
        </div>
    </script>

    <script type="text/template" class="template-modal">
        <div class="modal fade" id="modal-id-<%= id %>" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                 <div class="modal-content">
                     <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     <h3 class="modal-title" id="myModalLabel" style = "color:#f2f2f2"><b><%= title %></b></h4>
                </div>
                <div class="modal-body" align = "middle">
                    <img class = "img-modal" src = "img/<%= url %>" height="<%= height %>" width="<%= width %>" align="middle">
                    <h4 style = "color:#b3b3b3"><%= medium %></h3>
                    <h4 style = "color:#b3b3b3"><%= description %></h5>
                    </div>
                        <div class="modal-footer">
                    </div>
                </div>
             </div>
        </div>
    </script>


    <!-- Callout -->
    <aside class="callout">
        <div class="text-vertical-center">
            <h1><font face = "Arial"></font></h1>
        </div>
    </aside>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.js"></script>

    <!-- Underscore -->
    <script src="js/underscore.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
        var portfolioData = [
            {
                url: "portfolio-1.jpg",
                width: 475,
                height: 468,
                title: "The Singularity",
                medium: "Acrylic on two stretched canvases",
                description: "A visual interpretation of 'a singularity.'"
            },
            {
                url: "portfolio-2.jpg",
                width: 323,
                height: 439,
                title: "4D",
                medium: "Acrylic on stretched canvas",
                description: "An attempt to peer into the 4th spatial dimension."
            },
            {
                url: "portfolio-3.jpg",
                width: 476,
                height: 495,
                title: "The Golden Ratio",
                medium: "Acrylic on stretched canvas",
                description: "An image to illustrate the fluid nature of matter and energy."
            },
            {
                url: "portfolio-4.jpg",
                width: 265,
                height: 395,
                title: "Destroyer of Worlds",
                medium: "Acrylic on stretched canvas",
                description: "I am become death, destroyer of worlds."
            },
            {
                url: "portfolio-5.jpg",
                width: 538,
                height: 383,
                title: "Reflection",
                medium: "Acrylic on stretched canvas",
                description: "A diptych. Self-portrait at 80 years."
            },
            {
                url: "portfolio-6.jpg",
                width: 346,
                height: 461,
                title: "Colossus",
                medium: "Acrylic on stretched canvas",
                description: "The human figure, monolithic and cast in ice."
            },
            {
                url: "portfolio-7.jpg",
                width: 381,
                height: 519,
                title: "Gossamar",
                medium: "Acrylic on stretched canvas",
                description: "The span of one man's influence."
            },
            {
                url: "portfolio-8.jpg",
                width: 504,
                height: 303,
                title: "Space-Time",
                medium: "Acrylic on Clay Slab and Other Media",
                description: "Melding two-dimensional images and three-dimensional space-filling objects."
            }

        ];

        // Closes the sidebar menu
        $("#menu-close").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
            $("#menu-toggle").show();
        });

        // Opens the sidebar menu
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
            $("#menu-toggle").hide();
        });

        // Scrolls to the selected menu item on the page
        $(function() {
            $('a[href*=#]:not([href=#])').click(function() {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });

        // Render all portfolio items and their modals
        $(document).ready(function() {
            for (var id = 0; id < portfolioData.length; id += 4) {
                var items = portfolioData.slice(id, id + 4);
                var portfolioRow = $('<div class="row"></div>');
                _.each(items, function(item, offset) {
                    var itemTemplate = _.template($('script.template-item').html());
                    var modalTemplate = _.template($('script.template-modal').html());
                    _.extend(item, {id: id + offset});
                    portfolioRow.append(itemTemplate(item));
                    $('body').append(modalTemplate(item));
                });
                $('.portfolio-images').append(portfolioRow);
            }
        });
    </script>

</body>

</html>
